<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depositar</title>
</head>
<body>
    <h1>Depositar na Conta: {{ conta.numero_conta }}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="valor">Valor:</label>
        <input type="number" name="valor" step="0.01" required>
        <button type="submit">Confirmar</button>
    </form>
    <p><a href="{% url 'detalhes' conta.id %}">Voltar</a></p>
</body>
</html>
