<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
</head>
<body>
    <h1>Histórico da Conta: {{ conta.numero_conta }}</h1>
    <table>
        <thead>
            <tr>
                <th>Data e Hora</th>
                <th>Operação</th>
                <th>Valor</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for item in historico %}
            <tr>
                <td>{{ item.data_hora }}</td>
                <td>{{ item.operacao }}</td>
                <td>{{ item.valor }}</td>
                <td>{{ item.saldo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'detalhes' conta.id %}">Voltar</a>
    
</body>
</html>
