<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
</head>
<body>
    <h1>Histórico da Conta: {{ conta.numero_conta }}</h1>
    <ul>
        {% for item in historico %}
            <li>{{ item.data_hora }} - {{ item.operacao }}: R$ {{ item.valor }} (Saldo: R$ {{ item.saldo }})</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'detalhes' conta.id %}">Voltar para os detalhes</a></p>
</body>
</html>
