/* h1{
    color: blue;
}
*/

.titulo_um{
    color: blueviolet;
}
.titulo_dois{
    color: blue;
}
.box{
    background-color: violet;
    width: auto;
    height: auto;
    border: 5px solid;
    margin: 10px;
    padding: 10px; 
}