{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
   <!--  {% load static %} -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>

<h1>Cadastro de Cliente</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-container">
        <div class="form-group">
            <label>Nome:</label> {{ form.nome }}
            <label>E-mail:</label> {{ form.email }}
        </div>
        <div class="form-group">
            <label>Contato:</label> {{ form.telefone }}
            <label>CPF:</label> {{ form.cpf }}
        </div>
        <div class="form-group">
            <label>Modelo do Carro:</label> {{ form.modelo }}
            <label>Placa:</label> {{ form.placa }}
        </div>
        <div class="form-group">
            <label>Ano:</label> {{ form.ano }}
            <label>Cor:</label> {{ form.cor }}
        </div>
        <div class="form-group">
            <label>Marca:</label> {{ form.marca }}
            <label>Tipo de Cliente:</label> {{ form.tipo }}
        </div>
        <button type="submit">Salvar</button>
    </div>
</form>

<h2>Clientes Cadastrados</h2>
{% if clientes %}
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Contato</th>
            <th>CPF</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Tipo</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.modelo }}</td>
            <td>{{ cliente.placa }}</td>
            <td>{{ cliente.get_tipo_display }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Nenhum cliente cadastrado ainda.</p>
{% endif %}

<a href="{% url 'dashboard' %}">Voltar ao Dashboard</a>

</body>
</html>
