{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Registro de Entrada</title>
    
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body>
    <h1>Registrar Entrada de Veículo</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button-submit">Registrar</button>
    </form>

    <br>
    <a href="{% url 'dashboard' %}" class="button-submit">Voltar ao Dashboard</a>
</body>
</html>
